# WordPress uploads
wp-content/uploads/

# Cache
wp-content/cache/

#Plugins
wp-content/plugins/better-search-replace/
wp-content/plugins/string-locator/

# Backups
*.wpress
*.zip
*.tar
*.gz

# Database dumps
*.sql

# Logs
*.log

# OS files
Thumbs.db
.DS_Store